
/*****NAVBAR RULES****/

.research-color {
    background-color: #E5E5E5;
}

/*******SIDEBAR RULES****/
.sidebar{
    max-width: 200px;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: #051E34;
}

