a {
    color: white;
    text-decoration: none;
}
/*****NAVBAR RULES****/

.research-color {
    background-color: #E5E5E5;
}

/*******SIDEBAR RULES****/
.sidebar{
    max-width: 200px;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: #051E34;
}

/*HOVER*/

.side_bg li:hover{
    background-color: #E5E5E5;
}

/****MACROAREA****/

.pills_bg{
    background-color: #165BBA;
    font-size: 13px;
}

.butt-small{
    font-size: 9px;
}

.name_card p {
    font-size: 12px;
}

.card_faq {
    background-color: #e5e5e54b;
}

